---
import Layout from "@/layouts/Layout.astro";
import fetchApi from "@/lib/strapi";
import type Post from "@/interfaces/post";

import { marked } from 'marked';

import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  wrappedByKey: 'data',
});;

  return posts.map((post) => ({
    params: { slug: post.attributes.slug },
    props: post,
  }));
}

type Props = Post;

const post = Astro.props;
---

<Layout title={post.attributes.title} description={post.attributes.description}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {post.attributes.title} - {formatDate(new Date(post.attributes.publishedAt))}
      </h1>
      <p class="italic">{post.attributes.description}</p>
    </header>

    <article set:html={marked.parse(post.attributes.content)} />
  </main>
</Layout>
