---
import { Marked } from 'marked';
import { markedHighlight } from 'marked-highlight';
import Prism from 'prismjs'
import loadLanguages from 'prismjs/components/';
loadLanguages(['py', 'ts']); // TODO: get these values from a remote config

import Layout from "@/layouts/Layout.astro";
import fetchApi from "@/lib/strapi";
import type Post from "@/interfaces/post";

import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await fetchApi<Post[]>({
  endpoint: 'posts',
  wrappedByKey: 'data',
});;

  return posts.map((post) => ({
    params: { slug: post.attributes.slug },
    props: post,
  }));
}

type Props = Post;

const post = Astro.props;
const marked = new Marked(
  markedHighlight({
    langPrefix: 'language-',
    highlight(code, lang) {
      return Prism.highlight(code, Prism.languages[lang], lang);
    }
  })
);
const articleContent = marked.parse(post.attributes.content)
---

<Layout title={post.attributes.title} description={post.attributes.description}>
  <main class="post mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {post.attributes.title} - {formatDate(new Date(post.attributes.publishedAt))}
      </h1>
      <p class="italic">{post.attributes.description}</p>
    </header>

    <article set:html={articleContent} />
  </main>
</Layout>
